*{
    background-color: rgb(4, 4, 61);
    color: yellow;
}
h1{
    text-align: center;
    font-size: 80px;
}
h1:hover{
    background-color: rgb(94, 4, 4);
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 200px;
    width: 200px;
    font-size: 100px;
    color: black;
    border-radius: 10%;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.r{
    background-color: red;
}
.b{
    background-color: blue;
}
.g{
    background-color: green;
}
.y{
    background-color: yellow;
}
.box:active{
    border: 5px solid white;
}
.timer{
    margin:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    text-align: center;
}